<h1>Links to Croquet Sites</h1></br>
<%= link_to "SECF", "http://www.southeastcroquet.org.uk/" %></br>   
<%= link_to "The Croquet Association", "http://www.croquet.org.uk/"%></br>  
<%= link_to "Croquet Academy", "http://www.thecroquetacademy.com/"%></br> 
<%= link_to "Croquet Equipment", need_path %></br>
<%= link_to "Croquet Glossary", "http://cornwall-croquet.org.uk/croquet_glossary.htm"%> 

