<nav>
	<ul>
		<li><%= link_to "Home Page", root_path %></li>
		<li><%= link_to "About the Club", about_path %></li>  
		<li><%= link_to "How to Join", join_path %></li>
		<li><%= link_to "What you need", need_path %></li>
    	<li><%= link_to "2013 Programme", events_path %></li>
		<li><%= link_to "Newsletters", newsletters_path %></li>
		<li><%= link_to "Club Matters", club_path %></li>
		<li><%= link_to "How to get there", location_path %></li>
		<li><%= link_to "Book a Lawn", book_path %></li>
		<li><%= link_to "Links to Croquet Sites", links_path %></li>
	</ul>
</nav>